{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "bracketSameLine": true,
    "noBracketSameLine": true,
    "printWidth": 180
}
